.graph {
  overflow: visible;
  width: 700px;
  height: 500px;
  display: block;
  margin: 0 auto;
}

text.id {
  font-size: 12px;
}

circle {
  stroke: var(--color-blue-600);
  stroke-width: 2px;
  fill: var(--color-blue-200);
}

line.relation {
  stroke: #f0f;
  stroke-width: 2px;
}

.game-display .label {
  fill: var(--color-blue-800)
}

.game-display .id {
  fill: var(--color-red-800)
}