@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

html,
body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: var(--color-blue-200);
  border: 1px solid var(--color-blue-600);
  border-radius: 4px;
  color: var(--color-grey-700);
}

.game-grid {
  display: none;
  height: 100%;
  width: 100%;
  padding: 0 15px;
  /* display: grid; */
  grid-template-areas:
    "cypher-input    sidebar"
    "game-display    sidebar"
    "bottom-controls sidebar";


  grid-template-columns: 1fr 300px;
  grid-template-rows: auto 1fr auto;
}

.game-grid > div,
.game-display > div {
  padding: 0;
  margin: 15px;
  /* background-color: var(--colors-primary-10); */
}

.login {
  padding: 15px;
  margin: 15px;
}

.login h1 {
  margin-bottom: 0.5rem;
}

.login input,
.login button {
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0;
-webkit-appearance: none;
border: 1px solid var(--color-blue-600);
}

.game-grid .message {
  background-color: var(--colors-success-20);
  padding: 15px;
  margin-bottom: 15px;
}

.sidebar {
  grid-area: sidebar;
  overflow-y: auto;
}
.sidebar .query {
  background-color: var(--colors-success-10);
  font-family: monospace;
  display: flex;
  padding: 10px;
  margin-bottom: 15px;
  gap: 10px;
}
.sidebar .query:hover {
  background-color: #f0f0f0;
}
.sidebar .query p {
  flex: 1;
}
.sidebar .message {
  padding: 10px;
}
.sidebar .error {
  font-family: monospace;
  background-color: var(--color-red-200);
  color: var(--color-red-900);
  border-left: 3px solid #a00;
  margin-bottom:15px;
  padding: 15px;
}

.header {
  /* display: none; */
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1.5rem;
  /* background-color: var(--warning-color); */
  margin:0 15px;
  padding: 15px;
}

.cypher-input {
  grid-area: cypher-input;
  /* background-color: var(--colors-primary-10); */
  padding: 15px;
  display: flex;
}
.cypher-input textarea {
  flex: 1;
  font-size: 30px;
  font-family: monospace;
}
.cypher-input button {
  flex: 0;
  font-size: 20px;
  white-space: nowrap;
  margin-left: 15px;
}

.game-grid .game-display {
  background-color: var(--colors-primary-10);
  grid-area: game-display;
  margin: 15px;
}
.game-grid .bottom-controls {
  grid-area: bottom-controls;
  padding: 15px;
  background-color: var(--colors-primary-10);
  margin: 15px;
}
.bottom-controls button {
  font-size: 20px;
}
.bottom-controls button + button {
  margin-left: 20px;
}

.game-grid .knowledge {
  display:none;
  background-color: var(--colors-primary-10);
  padding: 15px;
}


.node .toggle {
  padding: 0;
  margin-left: 10px;
  border: 0;
  width: 20px;
  background-color: burlywood;
}
.node-header {
  display: flex;
}

#login-map {
    padding-top: 20px;
}


input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-button {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
